body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}
body.light-mode {
  background-color: #f7f7f7;
  color: #222;
  transition: all 0.5s ease;
}
body.dark-mode {
  background-color: #121212;
  color: #f7f7f7;
  transition: all 0.5s ease;
}
